*{
    box-sizing:border-box;
}
h1{
    background-color: rgb(33, 165, 125);
    color:white;
    padding: 25px;
    margin: 0;

}
body{
    margin: 0;
    background-color: lightblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 800px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
form>input,form>label{
    margin: 0 25px;

}
form>label{
    color: rgb(33, 165, 125);
    font-weight: bold;
    margin-top: 15px;

}
form>input{
    background-color: #f1f1f1;
    padding: 5px;
    border: 1px solid lightgray;
}
button{
    background-color: #607d8b;
    color: white;
    border: 1px solid #607d8b;
    width: 150px;
    padding: 10px,25px;
    margin-left: 25px;
    margin-left: 25px;
    margin: 25px;
}